h2 {
    color: white;
    display: inline;
}

#title {
    float: left;
}

#course {
    float: right;
}

.cat {
    position: relative;
    margin: 20px 0px 20px 0px;
    width: 50%;
    left: 25%;
    right: 25%;
}

.cat-row {
    background: #cdd9f2;
    border-radius: 5px;
    z-index: 0;
    position: relative;
    width: 40%;
    top: 115px;
    left: 30%;
    right: 30%;
    margin: 20px 0px 0px 0px;
}

#header {
    z-index: 1;
    position: fixed;
    background: grey;
    margin: 0px;
    padding: 20px;
    height: 75px;
    top: 0px;
    right: 0px;
    left: 0px;
}
