img {
    width: 100%;
    height: auto;
}


/* Relative position: https://csstricks.com/absolutepositioninginsiderelativepositioning/ */

#container {
    display: inlineblock;
    width: 50%;
    position: relative;
}


/* Assign styles here */
