#nametag {
    border: 1px solid red;
    width: 400px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 20px solid red;
}

#tag-top {
    border-bottom: 1px solid black;
    color: white;
    font-family: sans-serif;
    border-top: 1px solid red;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-variant: small-caps;
    font-size: 3em;
    font-weight: 100;
}

h2 {
    margin-top: 1px;
    margin-bottom: 3px;
    font-size: .8rem;
    font-style: italic;
}

.red {
    background-color: red;
}

#tag-center {
    font-size: 3rem;
    font-family: fantasy;
    margin-top: 25px;
}
